<% layout("./template/syntex.ejs")%>
<div class="row m-5" >

    <% for (value of data) { %>
        <%if (currUser.username=="ritik"||(currUser && value.owner[0]._id.equals(currUser._id))){%>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="card index-card" style="width: 18rem;">
                    <img src="<%=value.image.img%>" class="card-img-top index-card-img" alt="...">
                    <div class="card-body">
                      <h6 class="card-title"><%= value.name %></h6>
                      <p class="card-text"><%= value.profession %></p>
                      <div class="creation-btn">
                        <a href="/home/edit/<%=value._id%>" class="btn btn-primary">Edit</a>
                        <a href="/home/delete/<%=value._id%>" class="btn btn-danger">Delete</a>
                        <a href="/home/view/<%=value._id%>" class="btn btn-info">view</a>
                      </div>
                    </div>
                </div>
        </div>
        <%}%>
    <% } %>
</div>