<% layout("./template/syntex.ejs")%>
<body>
    <a href="/view/<%=idvalue._id%>"><i class="fa-solid fa-backward"></i></a>
    <h1 style="text-align: center;">Edit</h1>
    <div class="row offset-3 ">
        <div class="col-8">
            <form action="/edit/<%=idvalue._id%>"  method="post" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Title:</label>
                  <input value="<%=idvalue.title%>" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Description:</label>
                  <input value="<%=idvalue.description%>" type="text" class="form-control" id="exampleInputPassword1" name="description">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Filename:</label>
                    <input value="<%=idvalue.image.filename%>"  type="text" class="form-control" id="exampleInputPassword1" name="filename">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">URL:</label>
                    <input value="<%=idvalue.image.url%>" type="text" class="form-control" id="exampleInputPassword1" name="url">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price:</label>
                    <input value="<%=idvalue.price%>"  type="number" class="form-control" id="exampleInputPassword1" name="price">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Location:</label>
                    <input  value="<%=idvalue.location%>" type="text" class="form-control" id="exampleInputPassword1" name="location">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Country:</label>
                    <input value="<%=idvalue.country%>" type="text" class="form-control" id="exampleInputPassword1" name="country">
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>
    </div>
</body>
