<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/portfolio.css">
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <!--box icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>

<body >

    <!--Header section-->

    <header class="header">
        <a href="#logo" class="logo">Portfolio.</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav class="nav">
            <a href="#home">Home</a>
            <a href="#about">Experiance</a>
            <a href="#skill">Skills</a>
            <span class="active-nav"></span>
        </nav>

    </header>

    <!--Home section-->

    <section class="home" id="home">
        <div class="home-cont">
            <p class="intro-top">Hello, I am <%=newlist.name%></p>
            <p class="intro-name"></p>
            <p class="intro"><span class="text"><%=newlist.profession%></span></p>
            <p class="detail">
                <%=newlist.headline%>
            </p>
            <div class="btn-box">
                <a href="mailto:<%=newlist.mail%>.com" class="btn">Hire Me</a>
                <a href="<%=newlist.social_url%>" class="btn">Let's Talk</a>
            </div>
            <div class="social">
                <a href="<%=newlist.linkdin%>"><i class='bx bxl-linkedin'></i></a>
                <a href="<%=newlist.github%>"><i class='bx bxl-github'></i></a>
                <a href="mailto:<%=newlist.mail%>.com"><i class='bx bxl-gmail'></i></a>
            </div>
        </div>
        <img src="<%=newlist.image.img%>" class="img-hover"></img>
    </section>

    <!--About section-->

    <section class="about" id="about">
        <h2 class="heading">My <span>Journey</span></h2>

        <div class="edu-row">
            <div class="edu-colom">
                <h3 class="title">Education</h3>
                <div class="edu-box">
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year1%></div>
                            <h3><%=newlist.title1%></h3>
                            <p>desc1</p>
                        </div>
                    </div>
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year2%></div>
                            <h3><%=newlist.title2%></h3>
                            <p><%=newlist.desc2%></p>
                        </div>
                    </div>
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year3%></div>
                            <h3><%=newlist.title3%></h3>
                            <p><%=newlist.desc3%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edu-colom">
                <h3 class="title">Experience</h3>
                <div class="edu-box">
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year4%></div>
                            <h3><%=newlist.title41%></h3>
                            <p><%=newlist.desc4%></p>
                        </div>
                    </div>
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year5%></div>
                            <h3><%=newlist.title5%></h3>
                            <p><%=newlist.desc5%></p>
                        </div>
                    </div>
                    <div class="edu-cont">
                        <div class="cont">
                            <div class="year"><i class='bx bxs-calendar'></i><%=newlist.year6%></div>
                            <h3><%=newlist.title6%></h3>
                            <p><%=newlist.desc6%></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Skill section-->

    <section class="skill" id="skill">

        <h2 class="heading">My <span>Skills</span></h2>
        <div class="skill-row">
            <div class="skill-colom">
                <h3 class="title">professional Skills</h3>
                <div class="skill-box">
                    <div class="skill-cont">
                        <div class="progress">
                            <h3><%=newlist.skill1%> <span><%=newlist.knw1%>%</span></h3>
                            <div class="bar"><span class="html" style="width:<%=newlist.knw1%>%"></span></div>
                        </div>
                        <div class="progress">
                            <h3><%=newlist.skill2%> <span><%=newlist.knw2%>%</span></h3>
                            <div class="bar"><span class="css"style="width:<%=newlist.knw2%>%"></span></div>
                        </div>
                        <div class="progress">
                            <h3><%=newlist.skill3%> <span><%=newlist.knw3%>%</span></h3>
                            <div class="bar"><span class="js" style="width:<%=newlist.knw3%>%"></span></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="skill-colom">
                <h3 class="title">professional Skills</h3>
                <div class="skill-box">
                    <div class="skill-cont">
                        <div class="progress">
                            <h3><%=newlist.skill4%> <span><%=newlist.knw4%></span></h3>
                            <div class="bar"><span class="wdev" style="width:<%=newlist.knw4%>%"></span></div>
                        </div>
                        <div class="progress">
                            <h3><%=newlist.skill5%> <span><%=newlist.knw5%></span></h3>
                            <div class="bar"><span class="wdes" style="width:<%=newlist.knw5%>%"></span></div>
                        </div>
                        <div class="progress">
                            <h3><%=newlist.skill6%> <span><%=newlist.knw6%></span></h3>
                            <div class="bar"><span class="prgm" style="width:<%=newlist.knw6%>%"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Footer section-->
    <footer class="footer">
        <div class="foot-text">
            <p>Copyright &copy; 2024 by Ritik | All Right Reserved.</p>
        </div>
        <div class="foot-icon">
            <a href="#"><i class='bx bxs-up-arrow-circle'></i></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="script.js"></script>
</body>

</html>